[2019-05-28 12:00] ajay1909 opened #3 "Not able to use two lookup components inside one parent component"
Hi Team,

I have been trying to use your LWC lookup(Multiple selection) component inside my parent LWC component, it does work like a charm when used just once inside complete component, but when used twice inside the same LWC component, it doesn't seem to work properly and didn't fetch me the results for second lookup field.

Could you please help me with this issue.

Thanks
Ajay

[2019-05-31 15:07] pgjensen opened #4 "License for this project"
Hi is there a particular open source license tied to this project?

[2019-06-02 18:22] pozil commented on #4
Hi Paul, thanks for asking. I forgot to include the license file.
I've chosen to license this under Apache 2.0 just like the Aura version of the component.

[2019-06-02 18:27] #4 closed

[2019-06-02 18:32] pozil commented on #3
Hi @ajay1909. Can you share some code that allows to reproduce the issue?

[2019-06-20 09:18] JigarLakhaniAtJade commented on #3
Hi Philippe,

Thank you so much. Very Helpful.
Having same issue related to using Lookup Component twice in same component.

Tried to resolve the issue but couldn't find out the solution. Can you please share the solution if you already have it?

Thanks in advanced.

Below is the code to replicate the issue. You can update "sampleLookupContainer.html" with below code.

`<template>
    <lightning-c

[2019-06-20 10:00] JigarLakhaniAtJade commented on #3
Greetings!!!

Just got the solution.

Updated "handelSearch" method with minor change and it worked.

**Old**
`.then(results => {
                this.template.querySelector('c-lookup').setSearchResults(results);
            })`

**New**
`.then(results => {
                this.template.querySelectorAll('c-lookup').forEach(element => {
                    element.setSearchResults(results);

[2019-06-22 19:19] pozil commented on #3
Hi @JigarLakhaniAtJade, glad to hear that you've found the issue.

[2019-06-22 19:19] #3 closed

[2019-09-19 13:04] harrymendez23 opened #8 "Mobile friendly version"
Can anyone suggest how to update to make the component more mobile friendly? Combo box does work, but isn't great UX on mobile. This isn't an issue per se, I'm just looking for some advice here.

[2019-09-19 13:45] pozil commented on #8
@harrymendez23 I implemented the [SLDS blueprint](https://lightningdesignsystem.com/components/lookups/#site-main-content) here.
The problem is that this component isn't really designed for mobile. It does works but using a lookup on mobile isn't a common/desired UX pattern.
You probably want to show another component when rendering on mobile.

[2019-09-19 13:58] harrymendez23 commented on #8
@pozil thanks for the quick response. That's kind of the challenge I'm facing, none of the OOB components, like lightning:inputfield for instance, seem to behave as expected on mobile. I think lightning:inputfield does not work at all. This is area where salesforce continues to fail miserably.

[2019-09-23 22:02] rnendza commented on #8
Great component. Extra points that we can actually style it without getting the middle finger from our friend  Mr. Shadow DOM. What a concept. :)

Thanks for sharing!

Any issues you see with this and filtering through.. potentially 10 or 20k Account records searching by name?

[2019-09-25 14:00] rnendza commented on #8
Thanks for the feedback!  Reqs on this were dropped for now but I might
just play with it for more own knowledge for a future additional to the
toolbox.
The hardest time I have with this stuff is branching between desktop /
mobile as it's gotten to the point where it's pretty much 2 separate code
bases unfortunately.

On Tue, Sep 24, 2019 at 2:50 AM Philippe Ozil <notifications@github.com>
wrote:

[2019-09-30 09:33] febriantarigan commented on #3
Hi @JigarLakhaniAtJade,

Thanks for the solution, however the solution that you provided will show result on other lookup field as well because it set element searchresult for every 'c-lookup'.

I have found better solution so it will show the result on the specific lookup field by adding `<div class="search1"/>` with class defined as a wrapper inside the `<c-lookup/>` tag.

here is the code
**HTM

[2019-09-30 11:49] UltimateRime opened #9 "Making it required"
I've got this component as part of a form and was wondering if there is a way to make the field required in a similar way to lightning-input fields.

[2019-10-01 07:32] pozil commented on #9
Hi @UltimateRime, I haven't incorporated validation logic in the lookup.
However, you can achieve that by expanding the selection event handling example I gave in the readme to show an error when the selection is empty.

You can implement something like that in the parent container (disclaimer: I haven't tested this code):

[code]

[2019-10-05 15:19] movsar opened #10 "Limiting to a specific object type"
Is it possible to limit the search to a specific object type? I need to lookup only in Contacts, couldn't find any exposed methods to customize this.

[2019-10-07 07:16] pozil commented on #10
Hi @movsar, sure, all you have to do is to edit the SOSL query that's in your Apex search endpoint so that it only searches for Contacts.

Check out the project sample controller:
https://github.com/pozil/sfdc-ui-lookup-lwc/blob/master/src-sample/main/default/classes/SampleLookupController.cls

It's currently searching on Accounts and Opportunity sObjects but you can modify the query as you wish.

[2019-10-07 20:13] #9 closed

[2019-10-22 18:49] jduelfer opened #11 "Cannot set "icon" on "[object Object]". "[object Object]" is read-only."
When not specifying an icon, an error is throw due to the Locker Service (or however LWC doesn't let us mutate data that comes from Apex).

Stacktrack:
[code]

It happens in this function:
[code]

Instead of defaulting this in the front-end, it _could_ be done in the `LookupSearchResult.cls`. Since that is a sort of bean, that might not be the cleanest solution, but it would be _a_ fix.

So in my

[2019-10-22 20:44] pozil commented on #11
Hi @jduelfer, thanks for reporting this issue.

I fixed it in release 1.0.4 on [the component's JS](https://github.com/pozil/sfdc-ui-lookup-lwc/blob/a83c371c866311f223f446ab81a9a7ecebfc0361/src/main/default/lwc/lookup/lookup.js#L29) by cloning the search result when there is no icon.

[2019-10-22 20:44] #11 closed

[2019-10-22 20:55] jduelfer commented on #11
That's a much cleaner solution, so I'll pull those changes. Thanks for the fix.

[2019-10-25 18:36] CGaryDesigns opened #12 "'handleBlur' method assigned to input text box incorrectly hides dropdown when dropdown scrollbar is used"
When attempting to use the scrollbars in the listbox that appears after search returns items, the listbox is hidden because the input text element loses focus. The textbox itself losing focus causes the handleBlur method to fire, which in turn will set the components 'hasFocus' to false, and hide the listbox of results.

[2019-10-28 09:19] pozil commented on #12
Hi @CGaryDesigns, can you tell me which OS and browser are you using?
I just tried on macOS Mojave with Chrome and Firefox and the list box and scroll bar work fine.

[2019-10-29 22:55] rnendza commented on #8
Thank you.. nice clean component btw.. Probably the best that I've seen. Funny thing is. i just noticed the winter 2020 native lookups (not using a custom component) on salesforce1 / salesforce mobile (whatever it's branded as these days) seem different unless I'm crazy.. more like a picklist which essentially appears as native model with a search input. and search results.

I might try to customi

[2019-11-15 06:52] #12 closed

[2019-11-21 16:00] jgaiotto opened #14 "TypeError: Cannot read property 'setSearchResults' of null"
Hi Philippe,

I ran into an issue where the target of the onsearch event is null.
I cannot display any results...

Interesting fact, it becomes null after to call to Apex. Weird stuff.

Here is the code :
[code]

As per your documentation, my Apex method is Cacheable.
Just tell me what you need to know about my code, but I basically installed the component in my org.

Thank you for your help.

###

[2019-11-26 16:49] pozil commented on #14
Hi @jgaiotto, you need to store `event.target` in the context of the `handleUserSearch` function because the promise returned by the `search` Apex function is executed asynchronously.

You can do that with a `const` like so:

[code]

[2019-11-26 16:49] #14 closed

[2019-11-26 17:13] jgaiotto commented on #14
Well, thanks for your help !
Looks like I completely missed that line in your example of your readme, sorry about that.

Hope that issue will help anyone who prefer typing over copying/pasting code from examples...

[2020-01-10 10:15] nkjmetacube opened #24 "Adding 2 lookup on same component and its not working."
On second lookup, list is not getting displayed.

[2020-01-10 13:40] pozil commented on #24
Hi @nkjmetacube, can you make sure that you have defined different valid functions for the `onsearch` handler function of the lookups?

[code]

[2020-01-10 14:34] nkjmetacube commented on #24
Hi Pozil, Thanks for your response. I have defined 2 separate handler search function for both the lookups. Please let me know how to fix it or I am doing anything wring.

**HTML:**
<c-lookup
                selection={initialSelection}
                errors={errors}
                onsearch={handleSearchFrom}
                onselectionchange={handleSelectionChange}
                label="Search

[2020-01-11 13:22] pozil commented on #24
Thanks for the code @nkjmetacube. The problem is that you're using the same `c-lookup` selector in your search handlers:
[code]

Add an attribute like a css class to differentiate the two lookups and change your selector to be more specific. Note that you can't use and `id` due to LWC specificities.

You could do:
[code]

[code]

[2020-01-11 19:15] #24 closed

[2020-01-12 04:06] nkjmetacube commented on #24
Thanks Pozil for your help.

[2020-01-30 19:55] haricopado opened #25 "Please give sample for "initial selection" array"

[2020-01-31 02:25] #25 closed

[2020-01-31 02:25] haricopado commented on #25
{ "initialSelection": [{ "id": "", "sObjectType": "=", "title": "", "icon": "standard:standard", "subtitle": "" }

[2020-03-25 18:24] robmcmen opened #27 "Sort functionality"
First off- LOVE this component.

Simple possible improvement (I have it working in my org) add a custom sort functionality (or at least a place holder to help configure) on Title so results how up in a more deterministic order?

e.g. Add the following method to LookupSearchResult.cls:
[code]

Then just add a results.sort() in your controller before returning to UI.

[2020-03-26 10:56] pozil commented on #27
That's a great idea, thanks @robmcmen.
I just released a new version with that feature.

[2020-03-26 10:56] #27 closed

[2020-04-10 14:44] Katulka opened #37 "Issue with the RegExp replacement of the searchTerm"
Only in Production, having an issue with this line:

result.titleFormatted = result.title
                    ? result.title.replace(regex, '<b>' + this.searchTerm + '</b>')
                    : result.title;

this.searchTerm = "he"
result.title = "obfuscated community name he"

Testing:
- Only happens on the first page load
- Get failure on that line after user types "he" in the lookup
- Error i

[2020-04-10 15:07] pozil commented on #37
Hi @Katulka, if I get this right, you only have an issue on the JS side in production, right?
Could there there's something special in your prod data?

Can you check that by logging search results in the dev console just before applying the regex like this:
[code]

[2020-04-10 16:07] Katulka commented on #37
Hi @pozil thanks so much.  Hope you are well.

FYI - this is helping a community screen visitors for Covid-19 reasons.. so it's important right now. Thanks for helping.

Here you go.. I am also finding it's not the RegExp but simply the assignment of result.titleFormatted

{
  "icon": "utility:world",
  "id": "a0C0B00000u6666UAA",
  "sObjectType": "Community",
  "subtitle": "Community • obfuscated

[2020-04-10 16:17] Katulka commented on #37
This just fixed it, I think it's a scope/lwc restriction.. cut ties with the reference and it's working

 setSearchResults(results) {
        // Reset the spinner
        this.loading = false;

        let resultsLocal = JSON.parse(JSON.stringify(results));

        this.searchResults = resultsLocal.map((result) => {

[2020-04-10 16:52] Katulka commented on #37
![image](https://user-images.githubusercontent.com/6976559/79007859-1a66a980-7b2a-11ea-829e-6f88379a87fb.png)

Working version, showing results on first attempt.  This is a great lookup thanks!

[2020-04-10 16:52] pozil commented on #37
Thanks for finding the issue so quickly @Katulka.
I've released v1.3.2 with the fix.

Good luck with your project and stay safe.

[2020-04-10 16:52] #37 closed

[2020-04-10 16:53] Katulka commented on #37
You are welcome and thanks @pozil

[2020-04-14 17:00] Katulka opened #39 "Is there a way to set the value with defaults?"
I'd like the lookup to be pre-populated with the value on page load, then user can change it.  Any suggestions that match your component?

[2020-04-14 17:24] pozil commented on #39
Yes, with the `selection` attribute.
Please take a look at the sample app for an example:
https://github.com/pozil/sfdc-ui-lookup-lwc/blob/master/src-sample/main/default/lwc/sampleLookupContainer/sampleLookupContainer.js

[2020-04-14 17:24] #39 closed

[2020-04-14 20:50] Katulka opened #40 "Using the selection={initialLookup} option causing problems searching"
![image](https://user-images.githubusercontent.com/6976559/79272049-dc8dbc00-7e6e-11ea-8e15-1249ff7f3e39.png)

I'm using selection= and on page load the lookup is populated correctly.

When I click the x to remove the value, then start to type for a different option, I get the attached error.

If I remove the selection= attribute, everything works again just without my default.

At the failing lin

[2020-04-15 13:55] Katulka commented on #40
Hi @pozil,

I have figured this out and it was an issue on my side.  I was forgetting that "selection" must always be an array, and when blank an empty array.

You can see in my debug log that this.curSelection was an object {}, that's supposed to be []

So no bug, unless you wanted to update the setter for "selection" to handle object(for single select) or array for multi.

[2020-04-15 14:56] zachhorton opened #41 "Clicking vertical scroll slider causes dropdown to close"
Similar to #12

Using the slider to scroll through results causes the dropdown box to close.
Using Windows 10, Chrome v80
scroll-after-n-items="10"

Issue not present using Microsoft Edge.

[2020-04-15 20:45] pozil commented on #40
Hi @Katulka, thanks for the feedback. I've added that feature to the lookup: you can now set a single object or an array as the initial selection.

[2020-04-15 20:45] #40 closed

[2020-04-21 07:03] mbrandt73 commented on #41
We have the same problem.

[2020-04-22 20:52] Katulka opened #42 "New feature, can I pull request?"
I'd like to contribute to a new branch with a PR.  The ability to clear the selection from a new api method, it's helping out a lot with my lwc components where I am doing a lot of screen refresh, reuse components from logic outside of the lookup.

[2020-04-23 15:07] pozil commented on #42
Hi @Katulka, thanks for the proposal but you don't need an extra method to do that.
All you need to do is to reassign an empty array to the property used for initial selection.

Try that in the sample app:

Add a "Clear" button in `sampleLookupContainer.html`:
[code]

Add a handler for the button in `sampleLookupContainer.js`:
[code]

[2020-04-23 15:10] pozil commented on #41
Thanks for letting me know.
There's a chance that this an OS/Browser/SLDS issue that's not specific to the component. Not sure I can fix it.

[2020-04-23 15:14] Katulka commented on #42
That's interesting, I did try that but it would not clear. Maybe my intialSelection wasn't being tracked.. but I've had issue with that in the past. That's why I made the method in the lookup.js.

@api
    clearSelection() {
        this.curSelection = [];
        this.isDirty = true;
        // don't bubble up event, prevent recursion
    }

[2020-04-23 18:58] pozil commented on #42
Actually, `isDirty` needs to be set to `false` because we trust the developer to pass a valid value (unlike what the user enters).

This brings an interesting point, I'll add that flag reset to the lookup selection setter and I'll add an example that lets you clear the lookup.

[2020-04-23 19:01] #42 closed

[2020-05-18 08:12] pozil commented on #41
Potential workaround with #45 (keyboard support).

[2020-05-31 02:59] qlbs commented on #41
It seems to be able to solve with using mousedown and mouseup in listbox div.

[code]

Please see salesforce base combobox component for reference.
https://github.com/salesforce/base-components-recipes/tree/master/force-app/main/default/lwc/baseCombobox

[2020-06-21 20:41] permrevolution opened #47 "Down button behavior (enhancement)"
Hi creators,

Fantastic lookup, thanks so much.

1. Enter text on a desktop browser
2. It displays selection options below the lookup.
3. Press the down button on your keyboard
---> Nothing happens

When you do this on the Salesforce component lookup it handles the down press elegantly and you can select an option with the keyboard enter button (no mouse needed). Any way you / I can add this behav

[2020-06-22 07:55] pozil commented on #47
Thanks for the feedback @permrevolution.

Keyboard support is unfortunately not part of the [SLDS blueprint](https://lightningdesignsystem.com/components/lookups/#site-main-content) from which this component is based. This means that we need to add a bit of JS code to implement it.
The good news is that this feature is being proposed in PR #45.

[2020-06-22 12:24] pozil commented on #41
Thanks for the great suggestion @qlbs and sorry for the delay in getting back to you.

@qlbs, @zachhorton, @mbrandt73 could one of you check out the `pozil/blur-fix` branch and check if the fix works on IE before I merge PR #48 ?

[2020-06-26 08:13] pozil commented on #41
Fixed with PR #48

[2020-06-26 08:13] #41 closed

[2020-06-29 13:35] pozil commented on #47
Feature moved to PR #50. Waiting for review before integration.

[2020-06-30 06:45] pozil commented on #47
PR merged, you can now enjoy keyboard navigation in the latest release :)

[2020-06-30 06:45] #47 closed

[2020-07-17 08:29] nayanDowerah opened #52 "Add parameters in search method"
Hello,

I am trying to add this search functionality on a detail page of a record. For example, if I add this component on the account record page, I want it to only search for the child contacts associated with that particular account record.

However I am struggling to achieve this.

Is there a way to populate the second parameter in the method that is called while the search is made - **public

[2020-07-21 09:05] pozil commented on #52
Hi @nayanDowerah, the `search(String searchTerm, List selectedIds)` endpoint method signature is only provided as an example. You have full control over it so you can add extra parameters without modifying the lookup.
All you need to do is to remember to pass those extra parameters when you call `search` from within the `handleSearch` JS function.

For example, you could build custom `searchParams

[2020-07-21 10:08] nayanDowerah commented on #52
Thanks for your response @pozil !!

I realized that this was a simple maneuver after seeing your post.

Thanks for this excellent and powerful component. Hoping to utilize it suitably now.

[2020-07-21 10:08] #52 closed

[2020-09-03 09:21] ravibarnwal opened #54 "Using the selection={initialLookup} option causing problems searching first time."
I am passing selection={initialLookup} option with array of LookupSearchResult. Everything working correctly but on first time load search is not working. After click outside of input field and again trying to search then working fine.

![image](https://user-images.githubusercontent.com/7465670/92098067-6a564d80-edf6-11ea-9f7e-2626e35383ba.png)

[2020-09-08 09:54] pozil commented on #54
Hi @ravibarnwal thanks for reaching out. I'm struggling to reproduce the issue you described.

Can you try to reproduce the issue on the repository sample so that we test the same thing?
1. Open `src-sample/main/default/lwc/sampleLookupContainer/sampleLookupContainer.js`
1. Change line 12 to `isMultiEntry = true;`

Let me know if you still have the issue.

[2020-09-23 15:20] Gonzalez8 opened #55 "Error getRecentlyViewed"
I have an error when I put the LWC on a record page and when I change from a tab to another I get the error. The problem is that this.template.querySelector(c-lookup) it is null. I don't know how I can force that the component lookup it is loaded before the wire.
![image](https://user-images.githubusercontent.com/6625310/94032669-75cae200-fdc0-11ea-9365-23f1e97d14a8.png)

[2020-09-25 06:31] pozil commented on #54
Any updates @ravibarnwal ?

[2020-09-25 08:39] pozil commented on #55
Hi @Gonzalez8, thanks for reporting this issue. I've updated the sample app and [added some documentation](https://github.com/pozil/sfdc-ui-lookup-lwc#providing-default-search-results-ptional) to address that.
Let me know if it solves your problem.

[2020-10-03 17:09] ravibarnwal commented on #54
Hi @pozil
Thanks for your response. When I am trying with **selection={initialSelection}** and used wired method to get value for **initialSelection**  and used this code in my component
`            <c-lookup
                selection={initialSelection}
                errors={errors}
                onsearch={handleLookupSearch}
                onselectionchange={handleLookupSelectionChange}

[2020-10-04 09:01] pozil commented on #55
Hi @Gonzalez8 any update?

[2020-10-04 09:04] pozil commented on #54
Thanks for letting me know. I'm happy to hear that you find this component useful.

[2020-10-04 09:04] #54 closed

[2020-10-04 09:35] Gonzalez8 commented on #55
Thanks now it's working well :)

[2020-10-04 09:35] #55 closed

[2020-11-24 15:27] WillJW opened #59 "Surface `_searchTerm` to the API"
In my use-case I need to access `_searchTerm` to get the original search term, rather than the clean version you get from `event.detail.searchTerm`.

The easiest way to do this would be to decorate `get getInputValue()` with `@api`, but you could also choose to convert `_searchTerm` to a public property: `@api searchTerm`.

If you agree this is a good idea, I can fork it using whichever option you

[2020-11-25 15:39] pozil commented on #59
Hi @WillJW, can you tell me a bit more about your use case and why you need the raw search input?

[2020-11-25 15:48] WillJW commented on #59
@pozil If no lookup item is found, I want to use the user input to populate a new form element, and allow the user to add a new item from there. At the moment, if a user searches for "My item", it gets populated in the new input as "my item" (lowercase).

[2020-11-25 15:52] pozil commented on #59
Ok, I get it, that's a good use case.
Would exposing the raw search term as an attribute of the `searchchange` event work for you?

[2020-11-25 16:02] WillJW commented on #59
@pozil Yeah, I think that would do it. Thanks.

[2020-11-25 16:04] pozil commented on #59
Ok, I'll do that then. I want to keep the component's public signature as simple as possible.

[2020-11-25 17:43] pozil commented on #59
@WillJW try this branch and let me know if it works for you:
https://github.com/pozil/sfdc-ui-lookup-lwc/tree/pozil/raw-search-term

If yes, I'll PR and merge it.

[2020-11-30 09:25] WillJW commented on #59
@pozil That's perfect, thank you 👍

[2020-11-30 09:46] pozil commented on #59
Cool. Feel free to use the new 2.3.0 version then.

[2020-11-30 09:46] #59 closed

[2020-12-14 14:32] 1903Daniel opened #62 "Set MINIMAL_SEARCH_TERM_LENGTH to 1, or make it a configurable variable"
Hi,

I do have a use case where we need to search for a number with one digit, and that should return results. However, MINIMAL_SEARCH_TERM_LENGTH is set to 2 in line 11 of the JavaScript. Therefore, I need to patch my usage of the component to 1.

Can you either set the value to 1, or make it a configurable variable?

[2020-12-15 09:22] pozil commented on #62
Hi @1903Daniel, thanks for the proposal. I believe that your use case is a corner use case but I feel that some people might want longer search terms in order to limit the number of server calls so I've made this a custom attribute (see `minSearchTermLength`).

[2020-12-15 09:22] #62 closed

[2020-12-15 12:22] skycafemix opened #64 "Special characters cause errors"
I love this component, fantastic work. I discovered a problem that if a user types a symbol it gets interpreted as regular expression, throwing a component error from Lookup.setSearchResults:

[code]
I don't think business users can handle regexes so the key is to trap out error characters and those which would not be part of someone's name (since I am using this for a user lookup). I think it is

[2020-12-16 09:11] #64 closed

[2020-12-16 09:12] pozil commented on #64
Hi @skycafemix, thanks for reaching out with this bug and even better with a fix :)
I've implemented the fix and released it in v2.5.1.

[2020-12-16 09:30] skycafemix commented on #64
Hi @pozil oh that is so quick! Thank you for your efforts.

[2020-12-30 08:57] Lanjidechao opened #68 "Multiple c-look-up components cause a handler confusion?"
This look-up component is very awsome, thank you for developing such a great component.
Here is my question: If I use this component **mutiple time** in a parent component, with different sobjects. All of those onselectionchange handlers will be invoked by a single selection event. this is because the custom event's name is the same 'selectionchange' and will be captured by all c-look-up component

[2020-12-30 09:52] #68 closed

[2020-12-30 09:56] Lanjidechao commented on #68
Sorry, this is a coding mistake, no such issue exists.

[2021-01-21 02:37] hackbac opened #70 "handleNewRecordClick() redirects to the new record detail page"
When a user selects a newRecordOption and creates a record, the `NavigationMixin` redirects to the record detail page.
Navigating away from the original component causes the user to lose any changes (e.g. pending form submission data.)
The expected behavior would be for `handleNewRecordClick()` to return the new record Id as a selected value.

[2021-01-21 02:38] hackbac commented on #70
I anticipate that this might be a limitation with `NavigationMixin`. I haven't been able to figure out a solution, and I'm hoping that someone else here might have an idea. Thanks!

[2021-01-21 12:40] pozil commented on #70
Hi @hackbac, thanks, that's a really good use case you suggested and I hadn't thought about it earlier.

Luckily, I had some free time this morning so I built a [pre-navigate callback](https://github.com/pozil/sfdc-ui-lookup-lwc#saving-form-state-when-creating-new-records-optional) that lets you run custom logic before navigating away. I've made it available in the latest release (2.8.0).

[2021-01-21 12:40] #70 closed

[2021-01-21 16:22] hackbac commented on #70
Such an awesome response. I'll give it a try. Thank you!

[2021-01-23 23:33] sinanbunni opened #72 "State of pill components is not permanent"
Hi,
The state of the pill component is gone when a user navigates from a page to another or refreshing the page.
Is there a way to keep the selection of pills permanent on the component until the user decides to remove the pills?

Thanks,
Sinan

[2021-01-25 08:00] pozil commented on #72
Hi @sinanbunni, thanks for reaching out. It's funny that you mention this because I just released a new version a couple of days earlier with a method that lets you save the state of the lookup or parent form. See [this doc section](https://github.com/pozil/sfdc-ui-lookup-lwc#saving-form-state-when-creating-new-records-optional).
Let me know if this answers your question.

[2021-01-25 21:17] sinanbunni commented on #72
Thank you so much @pozil. I slipped through the documentation quickly.

[2021-01-25 21:17] #72 closed

[2021-02-01 20:55] davealvaro opened #73 "Multiple lookup components on the same parent?"
Greetings, and apologies if I should be posting this somewhere else.
I'm having difficulty placing multiple lookup components on a parent component.  I'm using the SampleLookupContainer as a guide, and from what I can tell
`this.template.querySelector('c-lookup').setSearchResults(results);`
in `handleLookupSearch(event)` grabs only the first instance of `c-lookup` ...
I'm thinking this is a known

[2021-02-02 08:05] pozil commented on #73
Hi @davealvaro, thanks for reaching out.

There are two solutions to address this. I've updated the example and documentation to suggest option 1.

**Option 1: use the search event target**
This is recommended in terms of code simplicity and performance.
[code]

**Option 2: use a more specific selector**
Add a CSS class (or another HTML attribute) to your lookup.
[code]

Use that class (or extra a

[2021-02-04 13:40] davealvaro commented on #73
Hi @pozil - thank you very much, option 1 is a much more elegant solution than the hack that I came up with :).
I had tried something similar to option 2, but somehow I couldn't get to class to sit on the `c-lookup` element for the use case (having `c-lookup` be a custom type on a custom `lightning-datatable` implementation).
Thanks again for the help, and also for creating an awesome component!

[2021-02-04 13:40] #73 closed

[2021-02-04 14:39] jmjcobs commented on #73
@pozil - here is another option that I have used that has worked well for me.  When working with a collection of child records on a parent record I have used html data attributes to dynamically set an id value for repeating lookups.  For example:

I use the lwc `for:each` to iterate through the child records. Each child record will have a lookup.

Then I add the lookup with a data attribute.  Some

[2021-02-04 14:40] pozil commented on #73
A bit more complex but that would work too.

[2021-02-10 16:28] WaseemAliSabeel opened #74 "Search Icon Position Consistency"
Hi, firstly a big Thanks for the continuous updates to make this LWC better and reusable!
However, there is one UX discrepancy when you look at the position of the Search (magnifying glass) Icon which is placed on the RIGHT of the input field.
As one would observe in Global Search and in List View filter search, the  `utility:search` icon is positioned on the left.

I tried with changing the CSS o

[2021-02-11 11:16] pozil commented on #74
HI @WaseemAliSabeel and thanks for the feedback. The lookup component is based on the [SLDS lookup template](https://lightningdesignsystem.com/components/lookups/#site-main-content) which has the search icon on the right so I'm going to stick to that.

The global search and list view filters are not exactly base components so they have their own design. Perhaps this is an issue that you could take

[2021-02-11 11:16] #74 closed

[2021-02-12 10:43] skycafemix opened #75 "Polymorphic "Related To" style lookup?"
Thank you so much for your great work. I wonder if anyone has tried to create a polymorphic single selection lookup like the Related To field on activities? I received a request that might require it, and was wondering if it is something you have looked at before.

I don't see it in SLDS, although in the SLDS release notes for June 6, 2016 it says "Lookups spec updated - Single and Polymorphic" so

[2021-02-16 19:01] pozil commented on #75
Good point, there's no such lookup blueprint on the SLDS website but the closest thing to this is the [global search template](https://lightningdesignsystem.com/guidelines/search/global/#site-main-content).

This project is based on the [SLDS lookup blueprint](https://lightningdesignsystem.com/components/lookups/#site-main-content) and I'd like to keep it that way to simplify maintenance and keep

[2021-02-19 06:29] skycafemix commented on #75
Understood, thank you for your reply. I see the Lookup blueprint does have something like that in the [Multi Entity version](https://lightningdesignsystem.com/components/lookups/#Multi-Entity) so something like that would work, else I'll roll my own if necessary. Best regards!

[2021-02-19 06:29] #75 closed

[2021-02-23 10:25] AndreasEpping opened #77 "In Multi-Select second lookup does not show list for selection"
First of all, thank you for sharing this awesome lookup component. It is really a game-changer.

If I want to select multiple records from Contact or User, the first selection works pretty well. However, the second selection does not bring up the list to select a second contact or user.
I have attached a screen recording so that you see what happens. I need to move to a different field and come ba

[2021-02-23 14:12] pozil commented on #77
Hi @AndreasEpping, thanks for reporting this issue with these details. At first glance I thought that it was a cache issue because of the identical search terms and object names but I can't reproduce the issue.

I'm about to release a spring '21 update this week but can you confirm that you're using the latest version of the lookup (v2.8.0)?

[2021-02-23 14:30] AndreasEpping commented on #77
Hi @pozil ,
yes I can confirm that I am using the latest version v2.8.0. Just added some console.log statements to get behind the scenes.

[2021-02-23 15:01] pozil commented on #77
Ok thanks for confirming that.
Are you using default search results with recent records?
I just found a probably unrelated bug while trying to reproduce your issue: the lookup may display a default search result that was already selected by the user.

[2021-02-23 15:13] AndreasEpping commented on #77
Thanks for answering.
No I am not using default search result right now. It is really weird, because if I move the mouse to a different field and come back to the lookup, the results show up immediately. It seems that the list is simply not displayed.

[2021-02-23 16:28] pozil commented on #77
Still no luck in reproducing the issue.
Let's try a few things:
1. can you tell me which browser you're using?
1. can you reproduce the issue with the sample app shipped with this project?
1. if not, can you share some sample code?

[2021-02-28 16:09] AndreasEpping commented on #77
Hi Pozil,
concerning 1. I am using Google Chrome on Mac OSX newest version. But I can reproduce the same behavior with Safari.

Concerning 2. I have installed the sample app (copied the source code) but I am unable to access it in my org. I am not really used to lightning aura component development.

Concerning code.
This is the APEX controller I am using:
[code]

This is the LWC controller
[code]

[2021-03-01 20:09] pozil commented on #77
Thanks for the sample code @AndreasEpping. I was able to reproduce the issue and fix it.
I'll release the fix in v2.9.0.

[2021-03-01 20:09] #77 closed

[2021-04-02 10:57] skycafemix opened #79 "Fatal error on single asterisk"
Hello and thanks for your great work. I installed the latest version and get these errors.

Error 1. Fatal error on asterisk
Error 2. Non-Fatal error on two-letter strings that evaluate to one letter

**Error 1. Fatal error on asterisk**
Input:
[code]
Result:
Pops up a "sorry to interrupt" error window with this info:
[code]

Patch:

I tried fixing it by adding asterisk into your REGEX_TRAP in var

[2021-04-07 12:22] pozil commented on #79
Hi @skycafemix, thanks for reporting this issue. I can reproduce. I'm looking for a fix.

[2021-04-07 15:59] pozil commented on #79
It took me some time to figure out but SOSL doesn't work well with special characters. I ended up filtering most of them on the JS side for the SOSL query and for the search result highlighter.
@skycafemix can you test the content of PR #80 and let me know if that works for you?

[2021-04-11 13:05] skycafemix commented on #79
Sorry to keep you waiting, I will review but pls give me a few days as am on a deadline. Best regards

[2021-04-19 09:04] pozil commented on #79
@skycafemix did you get the chance to test the fix?

[2021-04-26 08:00] pozil commented on #79
@skycafemix last call to give me some feedback.

[2021-04-26 13:11] skycafemix commented on #79
Sorry to keep you waiting. Still on the deadline and did not have time. I discovered an issue today that when using the lookup in a filter panel that can be collapsed and expanded. When collapsed the lookup's content is emptied. But I will test the asterisk update for you now.

[2021-04-26 13:28] skycafemix commented on #79
I have a question.
This [documentation](https://developer.salesforce.com/docs/atlas.en-us.soql_sosl.meta/soql_sosl/sforce_api_calls_sosl_find.htm) says these characters must be escaped with a backslash for SOSL: ? & | ! { } [ ] ( ) ^ ~ * : \ " ' + -
Does replace(REGEX_SOSL_RESERVED, '.?') allow hyphen to be used?
One of my test data searches for CN-1234 and I think it works if you put quotes aroun

[2021-04-26 13:38] pozil commented on #79
I read the documentation and my initial fix attempt was to do just that (escaping those characters). Unfortunately, SOSL don't behave well with these special characters so I ended up replacing them by `?`. This avoids SOSL injection and prevents errors.
I ran some tests to search for accounts with dashes in their names and that worked well for me.

[2021-04-26 13:40] skycafemix commented on #79
I see, then it should work okay. I am testing now and will let you know within an hour or so if I complete or run out of time now.

[2021-04-26 14:21] skycafemix commented on #79
Hello Philippe, I am still getting this error.
I enter *a and apex still gives me:
FATAL_ERROR System.SearchException: search term must be longer than one character: ?a

I think you need a test case such as
`const SAMPLE_SEARCH_TOO_SHORT_LEADING_STAR = '*a';`

Since I was just deleting all asterisks in lookup.js this wasn't a problem, but your version sends ?* which still evaluates to a 1 characte

[2021-04-26 14:23] skycafemix commented on #79
p.s. I think it would be useful to have tests against exactly the errors I reported:
[code]
As it is I "fixed" them with a combination of JS and Apex so it is a bit hard to un-noodle it to test.. But if you think it is working for you based on adding those tests I can test again or make a new LWC just to help. But I am kind of on a deadline now so cannot do more until then.

[2021-04-26 15:29] pozil commented on #79
Thanks for catching that @skycafemix. I had it fixed at some point but it looks like I lost that fix after making some other changes while testing SOSL special characters.

I've restored that fix and added the relevant tests. Things should be sorted now.
Let me know if you want to test again but I feel confident enough to merge at this point.

[2021-04-27 10:49] skycafemix commented on #79
Thanks, I trust you so we're good to go. Again many, many thanks for your work. It made two projects possible for me. One uses it for a one-time User lookup in a modal window, and the other for an Account search criteria input used in a search filters panel.

[2021-04-27 11:11] pozil commented on #79
Sure thing, I'm glad that you could put it to good use :)

Fix included in release v2.9.1.

[2021-04-27 11:11] #79 closed

[2021-04-27 12:32] AliSiddiqui-CJ opened #81 "JS is case sensitive."
In setSearchResults you are using result.id it should be result.Id ( 'I' should be capital) similarly you should change sel.id to sel.Id.

[2021-04-27 13:14] pozil commented on #81
No need for that because objects passed to `setSearchResults` are not records but instances of `LookupSearchResult`. This class has a lowercase `id` attribute:
https://github.com/pozil/sfdc-ui-lookup-lwc/blob/master/src/main/default/classes/LookupSearchResult.cls#L6

[2021-04-27 19:27] AliSiddiqui-CJ commented on #81
Yes that might be it! I couldn't find the LookupSearchResult class so I wrote my own and I used uppercase Id so it wasn't working for me.
Thank you so much for this!

[2021-04-27 19:28] #81 closed

[2021-06-01 21:02] CiaranShocks opened #82 "Extra Border class in LightningOut app"
Pretty sure that the extra border should not appear but maybe theres a reason for this? It does disappear on focus.

Implementing as follows: `<c-lookup data-id="opportunity" placeholder="Search Salesforce" label="Opportunity" required="true" is-multi-entry={isMultiEntry} onsearch={opportunitySearch} onselectionchange={handleOpportunityChange}></c-lookup>`

![image](https://user-images.githubuserc

[2021-06-02 09:53] pozil commented on #82
Hi @CiaranShocks, I agree that the double border should not show up on empty selections.
The only case where it should be displayed is on single entry lookups when there's a value selected.

Unfortunately, I can't reproduce the issue that you described with the sample lookup app from this project. It renders without that double border for both single and multi-entry lookups. Can you give me some a

[2021-06-02 10:03] CiaranShocks commented on #82
Sorry @pozil, I should have mentioned that I'm using the component within an app in LightningOut and just ran a quick test to confirm that the extra border only appears under those circumstances. Any idea on what could be up? There must be an extra class getting in somewhere. Thanks

[2021-06-02 10:07] pozil commented on #82
Ah ok, that changes everything. Some CSS must be leaking in the lookup component. Could it be that you have a different version of SLDS vs what's provided in Lightning Experience?

[2021-06-02 10:38] CiaranShocks commented on #82
I'm using the `<apex:includeLightning />` tag in VF for that so you would hope that it's the most recent version, let me check if I can add it manually

[2021-07-12 20:12] rutgergernandt opened #83 "Enhancement: additional property searchObjects"
First of all thanks for this great component! It is really thoroughly developed and a pleasure to read and work with. After playing around with it I have adjusted the component a little bit by adding an optional public property called searchObjects. Thereby it is possible to have the objectname bubble up with the search event (and create a more universal method and apex controller). Moreover, it i

[2021-07-13 21:09] ghiscoding commented on #9
in case someone else stumbles on the same issue

The following did **not** work and is sadly what was written in the sample code
[code]

But the following does work, so it's similar to the suggested (non-tested) code with a slight change and finally it works :)
[code]

[2021-07-15 10:50] pozil commented on #83
Hi @rutgergernandt thanks for the feedback.

I would rather not add an extra public property on the lookup to reduce the complexity and to maintain a separation of concern (only Apex needs to know about the SObjects).

However, you can easily add this information without modifying the Lookup core component. Here's how you can do this (example based from the sample code of this repo):

1. In the pa

[2021-07-15 16:51] rutgergernandt commented on #83
@pozil thanks for your answer, that indeed makes more sense! I still need to get used to this possibility and not a prof coder. Perhaps an idea to add it to the docs?

[2021-07-15 16:51] #83 closed

[2021-07-16 07:50] pozil commented on #83
Good suggestion @rutgergernandt, I've added this to docs.

[2021-07-18 16:44] rutgergernandt opened #84 "(Multiple) dependent lookups and recently viewed items"
This problem has two steps, possibly there is a better solution for step 1, which would possibly render step 2 unnecessary:

**Step 1:**
- The sample component sets the recently viewed items when the component is rendered, however, if the recent items are dependent they need to be fetched the moment the lookup becomes focussed.
- The only way I could come up with to handle this, is to add an addit

[2021-07-20 10:06] pozil commented on #84
Hi @rutgergernandt. I'm not sure that you need anything new in the component to achieve a dependent lookup scenario but I'm open to discussing this.

My first take on this is that the `focus` event should be internal to the lookup since we only use it for rendering. What is exposed to a parent component is the `selectionchange` event.

Here's how I would implement the scenario that you described (

[2021-07-20 20:57] rutgergernandt commented on #84
@pozil thanks for your quick and elaborate answer! This makes a lot of sense, and indeed is a good solution that requires no further customization and is more scalable too with multiple lookup dependencies too.

It is interesting to see your solution starts from untangling and then managing the possible different states of the component. This compared to a ('folk'? 'citizen'? or maybe just my pers

[2021-07-21 12:20] pozil commented on #84
Sure, happy to help. This kind of perspective isn't natural but it will come with practice with LWC or other JS frameworks.
I'll close the issue for now.

[2021-07-23 22:43] rutgergernandt commented on #84
I know the issue is closed, but for future reference: I think connectedCallback cannot be used here since the child components do not exist yet and therefore cannot be queried yet? In addition, it would not be possible to use the wire service in the connectedCallback to fetch data because it runs after the dom insertion. Therefore a getter seems more logical for the default value? But this leaves

[2021-07-26 08:04] pozil commented on #84
Hi @rutgergernandt. Yes, you're right: you should use use `renderedCallback` instead of `connectedCallback` as this lifecycle hooks is triggered later in the [rendering flow](https://developer.salesforce.com/docs/component-library/documentation/en/lwc/lwc.create_lifecycle_hooks).

[2021-07-26 19:31] rutgergernandt commented on #84
I have opted for using a getter and smuggling in an extra helper function. The renderedCallback has the drawback of firing multiple times (and the docs state that it should not be used to set properties if I recall correctly). For completeness the solution I ended up with:

[code]

[code]

[2021-09-25 09:01] Sourabh42 opened #87 "Set name default in lookup field"
So my requirement is  I am navigating from one LWC component to another by passing parameter in URL and when the second component initialize then lookup field is auto populate with URL parameter. So can u help to set  default value to lookup field.

[2021-09-30 11:29] #82 closed

[2021-09-30 11:29] #84 closed

[2021-09-30 11:40] pozil commented on #87
Hi @Sourabh42, I'm not sure to fully understand your use case.

When you say:

you mean that you are navigating from one page to another, right?

If yes, here's the big picture of what you need to do:

1. in the `connectedCallback` function of your component, use `window.location` to retrieve the current page URL and extract your parameter value
1. assemble the value in a [`LookupSearchResult`](ht

[2021-10-07 19:59] nallapusa opened #88 "Lookup dropdown cutting under container panel"
We have limited space under the lookup component, after 3 values display the dropdown is cutting into the parent panel and additional values are hidden(Sceenshot attached). I tried a few things with CSS but nothing worked. Any of the below would work, but I don't know how to do it, any help will be greatly appreciated.

1.  Ability to make dropdown to show the complete list values without cutting.

[2021-10-11 07:19] pozil commented on #88
Hi @nallapusa, this looks like a SLDS bug so I'm not sure that I can fix it properly. Can you give me more information about the parent container so that I try to can reproduce?

In the meantime and as a workaround, you can limit the number of results by modifying the SOSL `LIMIT` clause in the Apex search controller.

[2021-10-13 02:22] scgirl107 commented on #88
Hi @pozil I encountered the same issue @nallapusa did when I used lightning-quick-action-panel. I used lightning-card instead.

[2021-10-15 10:27] pozil commented on #88
Thanks @scgirl107, I'm able to reproduce the issue with a `lightning-quick-action-panel`.

I've spent a significant amount of time investigating this issue and I came to the conclusion that the bug is in the SLDS framework itself so I cannot fix it in the lookup. In short, the overflow of the quick action's body is not playing nice with the lookup's listbox. I will raise this to the SLDS team but

[2021-10-24 23:13] abearat opened #91 "unable to clear search result from the parent component"
Hi All,
i have parent component that is using 2 of the custom c-lookup. i have a cancel button on the ui. when the user click on the button i need to clear all the selection.  i tried below lines but did not work. Do you know any other way to do that.

[code]

[2021-10-24 23:37] #91 closed, assigned to nobody

[2021-12-29 01:06] joeythomaschaske commented on #4
@pozil Is there a preferred method of delivering the license to the user?

If I'm making an app exchange listing may I just include it in the documentation download area?

[2022-01-03 08:13] pozil commented on #4
Hi @joeythomaschaske, yes please do this and feel free to share a link. I'm always happy to see great uses of this component.

[2022-01-20 12:35] Bobbygllh opened #95 "Handling Initial Selection Scenarios"
Hi,
First off, component is awesome, extremely powerful. My issue is more of a question, I am wondering how to most optimally handle scenarios where we sometimes have an initial selection and then sometimes do not. Currently I have two c-lookup components and am rendering the correct one based upon if the record has a record in that lookup and then the other one when the record does not
<img width

[2022-01-20 13:55] pozil commented on #95
Hi @Bobbygllh thanks for the kind feedback.

All you need is a getter in your component with code like this:

[code]

[code]

[2022-01-21 01:09] Bobbygllh commented on #95
@pozil Awesome, thank you!

[2022-01-21 01:26] #95 closed

[2022-03-01 14:54] skycafemix opened #99 "Difficulty clearing selection from adjacent component"
I use lookup with a separate Add button and a datatable. After adding the selection to the datatable, I need to clear the lookup item as if the user clicked the X button. Had trouble finding it with querySelector and a data-id attribute. My solution was to expose the "Remove selected option" close button by adding an @api decorator to handleClearSelection().

It can be used like this, so that the

[2022-03-01 16:08] pozil commented on #99
HI @skycafemix, thanks for reaching out with your use case.

Assuming that you're using a lookup with the following markup:

[code]

All you have to do to clear the selection is to add a function like this in the parent component and call it:

[code]

This pattern is part of the sample app that's shipped in this repository.

You do not not need to access `handleClearSelection()` from the lookup.

[2022-03-02 11:53] skycafemix commented on #99
Oh, okay! I'll give it a shot. Thank you for checking.

[2022-03-02 11:59] skycafemix commented on #99
Hey @pozil, thanks it worked like a charm. Silly I spent so much time trying to track it through the dom. Will close this.

[2022-03-02 11:59] #99 closed

[2022-03-10 11:26] PrashantkumarWebDeveloper opened #101 "Multi select is not working properly when selection attribute is binded"
With multi-select, if 'selection' attribute is provided, its causes issues in the second selection. Probably because after the first selection when data is propagated to the 'selection setter' it is setting _isDirty to false and this is preventing the next search result to appear in the search result.

[2022-03-11 13:24] pozil commented on #101
Hi @PrashantkumarWebDeveloper thanks for reaching out. I'm not sure to understand how to reproduce the issue.
The sample form shipped with this project uses a bounded `selection` attribute and I can select multiple items in the lookup without issues. Can you provide more details?

[2022-03-11 15:28] PrashantkumarWebDeveloper commented on #101
Hi @pozil thanks for the quick response. I also tried to replicate it in some sample code but couldn’t replicate it. It seems, in my case lookup input is loosing focus somehow. I am closing this issue.

[2022-03-11 15:28] #101 closed

[2022-03-11 15:28] PrashantkumarWebDeveloper commented on #101
Hi @pozil thanks for the quick response. I also tried to replicate it in some sample code but couldn’t replicate it. It seems, in my case lookup input is loosing focus somehow. I am closing this issue.

[2022-03-11 15:28] PrashantkumarWebDeveloper commented on #101
Hi @pozil thanks for the quick response. I also tried to replicate it in some sample code but couldn’t replicate it. It seems, in my case lookup input is loosing focus somehow. I am closing this issue.

[2022-04-07 09:01] arafesthain opened #102 "getDropdownClass method is throwing exception when recordOptions is null"
Add safe navigator on recordOptions variable use

[2022-04-07 18:35] pozil commented on #102
Hi @arafesthain, thanks for contributing. I'll merge your PR.

[2022-04-07 18:35] #102 closed

[2022-06-07 19:46] padmaneela123 opened #105 "selection not working when I have two lookups with different object"
I attached my complete code.

part of my requirement I need to have two look up fields with different objects in same parent component .  I could able to manage search results etc but the selection was not highlighting

Thanks
Padma.

[recogBadges.zip](https://github.com/pozil/sfdc-ui-lookup-lwc/files/8856089/recogBadges.zip)
[lookup.zip](https://github.com/pozil/sfdc-ui-lookup-lwc/files/8
[classe

[2022-06-07 21:14] #105 closed

[2022-06-07 21:14] padmaneela123 commented on #105
my bad I was not setting title to results objects.

[2022-06-07 23:14] padmaneela123 opened #106 "need details on event.target.getSelection()"
in handleLookupSelectionChange(event) all I am getting is selected ID but not complete object attribute/field values.  I have situation on parent we have two lookups I want  check based sObjectType value I want to call different APEX method. Please advise.

[2022-06-08 12:12] pozil commented on #106
HI @padmaneela123, I'm not sure to fully understand your use case.
If I get this right, you need to pass extra data to the search handler. This is documented here: [Passing custom data to JavaScript and Apex](https://github.com/pozil/sfdc-ui-lookup-lwc#passing-custom-data-to-javascript-and-apex-optional)

[2022-06-08 16:01] padmaneela123 commented on #106
Thanks Philippe for the quick response.

In my requirement on page i add two lookup fields , one is to select User
and other one is badge.
Now in handleLookupSelectionChange(even) method event.detail is giving
associated selected records ids . but I want to retrieve sObjectType but I
am not able to succeed it most likely CustomEvent of selectionchange is
just returning selected ids could be possib

[2022-06-08 16:30] pozil commented on #106
Ok, now I understand a bit better.

If you're working with different objects in separate lookups, I would advise you to create different `handleLookupSelectionChange` methods and dedicated Apex search endpoints so that there's no confusion on the object types.

[code]

If you really don't want to do this then, proceed with my [initial suggestion](https://github.com/pozil/sfdc-ui-lookup-lwc#passing

[2022-06-08 18:22] padmaneela123 commented on #106
Thanks  Philippe.

I went ahead with a separate selection method.  Now the challenge I have is
, when I send event.detail value to apex i am getting below error , i
changed it Id same error.

Lookup error {"status":500,"body":{"message":"Value provided is invalid for
action parameter 'recipientID' of type 'String'"},"headers":{}}

On Wed, Jun 8, 2022 at 12:36 PM Padma ***@***.***> wrote:

[2022-06-14 19:43] #106 closed

[2022-06-14 19:43] padmaneela123 commented on #106
Thanks for the details.

[2022-06-28 13:26] imtiyaj786 opened #110 "How to Remove selected name in Lightning input fields.."
When I'm select a value from ----Lightning-input---- and its shows in ---lightning-pill---- then after that it will not present in ---lightning input box----  and when i remove it from the lightning-pill then it will show in Lightning input....

for ex - i have three city name like India, USA, Japan
and i have selected USA in Lightning pill then if now i search USA in Lightning input then it will

[2022-06-30 13:33] pozil commented on #110
Hi @imtiyaj786 this is the expected behavior: the lookup does not allow duplicate selections. Pills represent selected items. In other words, once an item is selected, it's displayed as a pill and will not show up in search results until you remove the pill.

[2022-07-03 23:13] joeythomaschaske opened #111 "General question about @AuraEnabled LookupSearchResult methods"
I noticed the getters in the `LookupSearchResult` class are decorated with `@AuraEnabled` and want to know what that decorator provides. At first I thought the client-side javascript would be able to call these methods on an instance of a search result but they do not have the methods defined.

Is there any purpose for decorating the getters?

[2022-07-03 23:16] joeythomaschaske commented on #111
Ahh they are serializable, but I'm not seeing the methods on my front end due to nested classes. Closing this.

[2022-07-03 23:16] #111 closed

[2022-07-12 21:04] Kenji776 opened #112 "Component always operating as if multi entry was true."
I'm having an issue which I'm not sure if is user error what because it seems pretty basic. I have two instances of the component on my page, both are set to is-multi-entry="false". However they are both operating as if they were multi entry, showing little selected item pills under the box with 'x's to remove them. You can selected numerous entries and it just keeps adding them. I've checked the

[2022-07-18 06:03] pozil commented on #112
Hi @Kenji776. It looks like there's a misunderstanding of the behavior of boolean attributes in HTML. When you want to pass a `false` value to an attribute, you can't simply write `is-multi-entry="false"` you need to remove the `is-multi-entry` attribute from the tag and you'll get the expected behavior.

[2022-07-29 13:09] pozil commented on #112
Closing due to inactivity. Feel free to chime in if you have more info.

[2022-07-29 13:09] #112 closed

[2022-07-31 04:43] joeythomaschaske opened #117 "How to display error without "No Results" item blocking the message?"
I am setting an error on the lookup, but it is covered by the default "No Results Found" item.

How can I tell the component to stop showing the spinner and make the error message visible?

[code]

[code]

<img width="441" alt="Screen Shot 2022-07-30 at 11 42 03 PM" src="https://user-images.githubusercontent.com/7061638/182010475-23ae307a-6000-4326-929c-3d43c1c9b6e3.png">

[2022-07-31 04:51] joeythomaschaske commented on #117
Answer: blur the lookup element.

[code]

[2022-07-31 05:00] joeythomaschaske commented on #117
Jumped the gun on this, the lookup element doesn't have a `blur` function

[2022-08-01 08:44] pozil commented on #117
Hi @joeythomaschaske, thanks for reaching out. This is a good use case so I just released [v2.16.0](https://github.com/pozil/sfdc-ui-lookup-lwc/releases/tag/2.16.0) that addresses this.

[2022-08-01 08:44] #117 closed

[2022-08-02 07:11] Sourabh42 opened #118 "Drop-down disappear while click on vertical scrollbar"
In lookup component when I click on vertical scrollbar to scroll down then the drop-down disappear. This is urgent requirement and need to fix this issue urgently.can u reply asap.

[2022-08-02 10:05] pozil commented on #118
Hi @Sourabh42 thanks for reaching out. Just be clear, I don't deal with "urgent" issues or requirements. This is an open source project and there's no guaranteed support or SLAs.

Here are some potential workarounds while I investigate the issue:
- can use the mouse wheel or keyboard navigation.
- reduce the number of search results displayed in the lookup.

[2022-08-05 08:00] pozil commented on #118
I tried to reproduce the issue without success:

![lookup-scroll](https://user-images.githubusercontent.com/5071767/183030730-e5aafbc1-e90d-42f6-8f31-6f21ff9b181e.gif)

I'm able to use the click on the scroll bar or use the mouse wheel.
Can you share more about your environment (browser, OS) or you configuration?

[2022-08-06 13:04] Sourabh42 commented on #118
It's working.

Thanks for your help

On Fri, Aug 5, 2022, 13:31 Philippe Ozil ***@***.***> wrote:

[2022-08-08 09:01] #118 closed

[2022-11-15 16:44] Kenji776 opened #121 "Issue with JAWS screen reader"
Hello! First off, just want to say thank you for this awesome component, it really is great and much appreciated. I am however, having one issue that I don't know if you might have any insight on. We are doing some accessibility testing/review using the JAWS screen reader software that is used by many visually impaired folks. We have found that when JAWS is open, for some reason we are unable to i

[2022-11-16 14:42] pozil commented on #121
Hi @Kenji776 and thanks for the feedback. There's no doubt that a11y is super important.
I was working with the assumption that the LDS blueprint had everything that I needed a11y-wise but it turns out that the lookup needed a few fixes. I made those and enforced a11y testing with [sa11y](https://github.com/salesforce/sa11y) as part of CI.
Please try the latest release (v2.18.0) and let me know if

[2022-11-16 16:15] Kenji776 commented on #121
@pozil Thank you so much for the reply. I'll give this new version a shot and see how it goes.

[2022-11-17 22:00] Kenji776 commented on #121
The updated version is working perfectly, much appreciated. Great work!

[2022-11-17 22:00] #121 closed

[2022-11-21 08:07] pozil commented on #121
Thanks for confirming. I'm glad that this gave me the opportunity to improve the component.

[2022-11-25 10:42] ntimesc opened #123 "Show All Results option in custom lookup field"
Hi,

I have used your component to implement custom look fields with some extra detailed information

Was just wondering whether we have an option of  **Show All Results for "text"**, just like we have in standard lookup field ?

![image](https://user-images.githubusercontent.com/5063898/203965641-2962e878-257c-478f-aa37-65c0263abed1.png)

here is the screenshot of the component that you have deve

[2022-11-28 08:48] pozil commented on #123
Hi @ntimesc, I'm not clear on the behavior of this "Show all results" item. What's the expectation here?